In [ ]:
import pandas as pd

In [ ]:
# create your first series
data = [1,2,3,4,5,6]
series = pd.Series(data)
print(series)

# Index by position: retrieve at pos 2
print(series[2])

# Labelled series
dt1 = [10,20,30]
labels = ['A', 'B', 'C']

series1 = pd.Series(dt1, index = labels)
print(series1)


# Example 4: Data Series contains datetime objects that can be used for time series analysis.

from datetime import datetime
# Creating a Series of dates
dates = [datetime(2023, 1, 1), datetime(2023, 1, 2), datetime(2023, 1, 3)]
series = pd.Series(dates)
print(series)

In [ ]:
## creating Dataframe objects

city_names = pd.Series(['Kajaani', 'Helsinki', 'Oulu'])
population = pd.Series([48246, 1101578, 485191])

pd.DataFrame({ 'City name': city_names, 'Population': population })

In [10]:
import pandas as pd
my_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep = ",")

# head: to check only the first 10 rows
my_dataframe.head(10)

# if we are interested only in three columns, we can proceed as follows
cols = ['housing_median_age', 'population', 'median_house_value']
df1 = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", usecols = cols)
df1.head(10)

   housing_median_age  population  median_house_value
0                15.0      1015.0             66900.0
1                19.0      1129.0             80100.0
2                17.0       333.0             85700.0
3                14.0       515.0             73400.0
4                20.0       624.0             65500.0
5                29.0       671.0             74000.0
6                25.0      1841.0             82400.0
7                41.0       375.0             48500.0
8                34.0      3134.0             58400.0
9                46.0       787.0             48100.0